.comics {
  &__list {
    margin-top: 45px;
  }
  &__grid {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    row-gap: 55px;
  }
  &__item {
    transition: 0.3s transform;
    max-width: 225px;
    &-img {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
      width: 225px;
      height: 345px;
    }
    &-name {
      margin-top: 10px;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
    }
    &-price {
      margin-top: 5px;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.6);
      text-transform: uppercase;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
  &__banner {
    padding: 0 20px 0 20px;
    color: #fff;
    margin-top: 50px;
    background-color: #232222;
    display: flex;
    height: 100px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    justify-content: space-between;
    &_text {
      margin-top: 18px;
    }
  }
}
